@keyframes animate {
    0% {
        transform: rotate(0deg) skew(0deg, 0deg);
    }

    50% {
        transform: rotate(180deg) skew(20deg, 30deg);
    }

    100% {
        transform: rotate(360deg) skew(0deg, 0deg);
    }
}

.animate {
    animation: animate 2s infinite forwards ease-in-out;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 5000px;
    width: 100%;
    box-sizing: border-box;
}

.shape {
    position: relative;
    display: flex;
    margin: 20px auto;
    border: 1px solid #fff;
    transition: .5s ease;
    z-index: 999;
}

.escher {
    position: fixed;
    height: 100%;
    width: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #fff;
    border-bottom: none;
}

.circle {
    width: 100px;
    height: 100px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%
}

.rectangle {
    width: 200px;
    height: 100px;
    border: 1px solid #fff;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}