* {
    
}

body {
	margin: 0;
	background-color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5000px;
	width: 100%;
	box-sizing: border-box;
}

.shape {
	display: flex;
	margin: 20px auto;
	border: 1px solid #fff;
}

.escher {
	position: fixed;
	height: 100%;
	width: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
}

.circle {
    width: 100px;
    height: 100px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%
}

.rectangle {
	width: 200px;
	height: 100px;
	border: 1px solid #fff;
}

.square {
	width: 100px;
	height: 100px;
	border: 1px solid #fff;
}

.z-top {
	z-index: 99999;
}